[user]
name = "Michael Egli"
email = "michael.egli@contractors.roche.com"

[git]
colocate = false

[ui]
#paginate = "never"
editor = "nvim"
merge-editor = "mergiraf"
diff-formatter = "difft"

[templates]
log = "custom_log_oneline"

[template-aliases]

format_bookmarks = 'format_bookmarks(self)'
'format_bookmarks(commit)' = '''
  concat(
    commit.local_bookmarks().map(|bookmark| concat(
        label("bookmark", bookmark.name()),
        if(!bookmark.synced(), "*")
      )
    ),
    commit.remote_bookmarks().map(|bookmark|
      if(bookmark.synced(), "@=",
        label("bookmark", bookmark.name() ++ "@*"),
      )
    )
  )
'''

custom_log_oneline = 'custom_log_oneline(self)'
'custom_log_oneline(commit)' = '''
if(commit.root(),
  format_root_commit(commit),
  label(
    separate(" ",
      if(commit.current_working_copy(), "working_copy"),
      if(commit.immutable(), "immutable", "mutable"),
      if(commit.conflict(), "conflicted"),
    ),
    concat(
      separate(" ",
        format_short_change_id_with_hidden_and_divergent_info(commit),
        format_short_signature_oneline(commit.author()),
        format_timestamp(commit_timestamp(commit)),
        format_bookmarks(commit),
        commit.tags(),
        commit.working_copies(),
        if(commit.git_head(), label("git_head", "git_head()")),
        format_short_commit_id(commit.commit_id()),
        if(commit.conflict(), label("conflict", "conflict")),
        if(config("ui.show-cryptographic-signatures").as_boolean(),
          format_short_cryptographic_signature(commit.signature())),
        if(commit.empty(), empty_commit_marker),
        if(commit.description(),
          commit.description().first_line(),
          label(if(commit.empty(), "empty"), description_placeholder),
        ),
      ) ++ "\n",
    ),
  )
)
'''
